In [56]:
import pandas as pd

In [57]:
df = pd.read_csv('housing.csv')

In [58]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [60]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [61]:
df.isna().sum().sum()

0

In [62]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [63]:
df.MEDV.value_counts(normalize=True)

50.0    0.031621
25.0    0.015810
21.7    0.013834
22.0    0.013834
23.1    0.013834
          ...
14.2    0.001976
26.7    0.001976
32.9    0.001976
39.8    0.001976
9.7     0.001976
Name: MEDV, Length: 229, dtype: float64

In [64]:
from sklearn.linear_model import LinearRegression

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
df.shape

(506, 14)

In [67]:
df.drop('MEDV',axis=1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [85]:
x_train, x_test, y_train, y_test = train_test_split(df.drop('MEDV',axis=1), df['MEDV'], test_size=0.2, random_state=1000)

In [86]:
df['MEDV']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

# Линейная регрессия

In [87]:
from sklearn.linear_model import LinearRegression

In [88]:
model_lr = LinearRegression()

In [89]:
model_lr.fit(X_train,y_train)

LinearRegression()

In [90]:
pred = model_lr.predict(X_test)

In [91]:
pred

array([21.83877456, 22.21208877, 22.2400507 , 24.34612421, 20.34035058,
       23.30953398, 24.43981738, 21.78550566, 21.94748784, 21.99094552,
       24.58082443, 23.20167048, 22.48441932, 22.26413639, 20.73573812,
       21.69887509, 21.60676669, 23.85020955, 21.72336377, 21.78899473,
       23.6106135 , 21.49615266, 24.29198764, 22.75090661, 21.99219997,
       22.88695539, 23.95079616, 25.32636428, 20.40488119, 20.75528181,
       22.23573208, 26.97951465, 22.1342514 , 23.72158596, 23.67794751,
       24.01433479, 22.51394344, 21.28274221, 23.06332915, 22.62041535,
       23.08787107, 21.8683346 , 23.4659203 , 21.45324092, 23.22208464,
       22.62814193, 21.49241877, 23.6181015 , 24.2173604 , 23.23868988,
       23.0726866 , 24.1256521 , 21.35843312, 24.62589295, 23.92806445,
       23.56695576, 21.7843031 , 22.7927286 , 20.11327086, 22.6528677 ,
       21.80671111, 24.12062309, 21.63657397, 21.70855155, 26.05250686,
       23.20031602, 21.60454481, 24.00043151, 23.7360036 , 22.69386936,
       19.40898746, 20.93337576, 21.81162366, 23.01630026, 21.71897195,
       25.04659418, 22.57011986, 21.59386971, 21.55012989, 23.6428917 ,
       22.11465278, 23.04542702, 23.40201826, 21.49309162, 24.86379233,
       21.43948793, 22.18803691, 19.59791241, 23.15992747, 20.86686451,
       22.36595388, 24.25072218, 22.56187667, 21.42599633, 24.96493784,
       22.25179354, 22.60523614, 23.27669442, 21.97902629, 23.97904612,
       24.24196388, 19.40955541])

In [92]:
y_test

483    21.8
426    10.2
22     15.2
268    43.5
371    50.0
       ...
285    22.0
46     20.0
465    19.9
486    19.1
116    21.2
Name: MEDV, Length: 102, dtype: float64

In [93]:
from sklearn.metrics import mean_absolute_error

In [94]:
from math import sqrt

# Считаем метрики и оцениваем качество модели

In [100]:
print ('Среднеквадратическая ошибка (RMSE) линейной регресии = ', sqrt(mean_squared_error(y_test,pred)))

Среднеквадратическая ошибка (RMSE) линейной регресии =  9.351581479828262

In [105]:
print('Средняя квадратическая ошибка (MSE) =',mean_squared_error(y_test,pred, squared=True))

Средняя квадратическая ошибка (MSE) = 87.45207617386696

In [106]:
print('Средняя абсолютная ошибка (MAE) линейной регресии =',mean_absolute_error(y_test,pred))

Средняя абсолютная ошибка (MAE) линейной регресии = 6.889284111902061